
<template id="dw-loading-spinner">
<style>
@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:host {
    width: 10em;
    height: 10em;
    overflow: hidden;
    text-indent: -9999em;
    border: 1.1em solid rgba(116,154,123, 0.2);
    border-left: 1.1em solid #749a7b;
    border-radius: 50%;
    transform: translateZ(0);
    animation: loader 1.1s infinite linear;
}
</style>
</template>

<script>
(function() {
var template = document.currentScript.ownerDocument.getElementById("dw-loading-spinner");

class DwLoadingSpinnerElement extends HTMLElement {
    connectedCallback() {
        this.attachShadow({mode: "open"}).
            appendChild(template.content.cloneNode(true));
    }
}

window.customElements.define("dw-loading-spinner", DwLoadingSpinnerElement);
})();
</script>
